.row{
    margin-left: 20px;
    color: white;
}
.posters{
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;

}
.poster{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}
.posters::-webkit-scrollbar{
    display: none;
}
.smallPoster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s ease;

}
.poster:hover, .smallPoster:hover {
    transform: scale(1.08);
}
